/* 全ページ共通CSS */

html {
  height: 100%;
}

body {
  background-color: #343a40;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #ddd;
  text-decoration: none;
}

.error_message {
  color: #C70039;
}

.body-link {
  color: #343a40;
}

.body-link:hover {
  color: #656b71;
  text-decoration: underline;
}



/* フッター部分 */
footer {
  background-color: #343a40;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

footer p {
  color: #fff;
}

footer a {
  color: #fff;
}

#main-menus {
  padding-top: 56px;
  flex: 1;
}


.main-body {
  padding: 56px 15px 20px 15px;
  flex: 1;

}

/* top.php メインメニュー部分 */



.main-menu {
  padding: 0!important;
  position: relative;
  text-align: center;
}

.main-menu p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  width: 100%;
}

.filter {
  background-color: #000;
}

.filter img {
  opacity: 0.7;
  width: 100%;
}

.filter:hover {
  background-color: #999;
}

/* result */

@media (min-width: 576px) {
.card-deck .card {
  margin-bottom: 30px;
}

}

.result-a {
  color: #343a40;
}

.result-a:hover {
  color: #343a40;
}


/* detail */

.detail-box {
  padding-top: 80px;
  border: 1px solid #000;
  background-color: #eee;
  border-radius: 5px;
  color: #343a40;

}

.detail-info {
  margin: 50px 0;
}

.detail-info caption {
  caption-side: top;
}

.detail-info td:first-child {
  width: 30%;
}

.studio-img {
  width: 100%;
  height: auto;
}

.reserve-action {
  width: 95%;
  height: 60px;
  border: 3px solid #343a40;
  margin: 20px auto;
  position: relative;
  font-size: 1.4em;
  background-color: #ffffff;
}

.reserve-action a{
  font-weight: bold;
  display: block;
  color: #343a40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 54px;
  text-align: center;
  transition: all 0.6s;
}

.reserve-action a:hover{
  background-color: #343a40;
  color: #fff;
}


/* 予約画面 */

.reserve-body {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
}

.form-title h1,.form-title p {
  text-align: center;
  margin-bottom: 20px;
}

.form-title h1 {
  font-size: 30px;
}

.form-title p {
  padding-bottom: 20px;
}

.submit-color {
  background-color: #DE660D;
  border-color: #DE660D;
  opacity: 0.9;
  color: white;
  transition: all 0.4s;
  margin: 0 auto;
}

.submit-color:hover {
  opacity: 1.0;
}

.submit-center {
  text-align: center;
  margin-top: 30px;
}

/* 確認画面 */
.check-go {
  text-align: center;
}

.check-go button{
  margin: 0 20px;
}



/* サンクスページ */

.line-share {
  background-color: #eee;
  width: 50%;
  margin: 10px auto;
  padding-top: 20px;
  border-radius: 10px;
}

.line-share i{
  color: #00B900;
}

/* マイページ */
.reserve-list {
  background-color: #fafafa;
  border: 1px solid #aaa;
  padding-top: 20px;
  border-radius: 5px;
}

.reserve-list table {
  margin-top: 0;
}


.user-info {
  margin-top: 30px
}

.user-info table{
  margin: 10px;
}

.change-btn{
  color: #fff!important;
}

.centered {
  text-align: center;
}

.mypage-h2 {
  font-size: 1.3em;
  text-align: center;
}

/* 地図検索 */
#map {
  width: 100%;
  height: 600px;
}

.info h2 {
margin: 0 0 .5em;
font-size: 1.4em;
}

.info p {
margin: 0;
font-size: 1em;
}

/* 会員登録確認画面 */

.signup-info {
  margin: 10px 0 50px 0;
}

.signup-info caption {
  caption-side: top;
}

.signup-info td:first-child {
  width: 30%;
}

.check-go a{
  margin: 0 20px;
}


/* ログインページ */

.center-link {
  text-align: center;
  margin-top: 20px;
}